<div class="page-header">
    <h1>Query Symbols</h1>
</div>
<div class="container">
    <form action="/symfiles">
        <div class="form-group">
            {{#each params}}
            <label for="select{{titleCase @key}}">{{titleCase @key}}:</label>
            <select name="{{@key}}" class="form-control" id="select{{titleCase @key}}">
                <option></option>
                {{#each this}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
            {{/each}}
            <br>
            <input type="submit" class="btn btn-info" value="Query">
        </div>
    </form>
</div>